<h2 mat-dialog-title>Buscar serie</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content fxLayout="column" fxLayoutGap="8px">
        <div>
            <span>Búsqueda por título:</span>

            <mat-form-field fxFill>
                <input matInput placeholder="Título" type="text" formControlName="name">
            </mat-form-field>
        </div>

        <div>
            <span>Búsqueda por características:</span>

            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px">
                <mat-form-field>
                    <input matInput placeholder="Fecha de estreno" type="text" formControlName="first_air_date">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Puntuación" type="number" formControlName="vote_average">
                </mat-form-field>
            </div>

            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px">
                <mat-form-field fxFlex.gt-xs="33">
                    <mat-select placeholder="Con género" formControlName="genresSelected" multiple>
                        <mat-option value="10759" color="primary">Acción y aventura</mat-option>
                        <mat-option value="16" color="primary">Animación</mat-option>
                        <mat-option value="12" color="primary">Aventura</mat-option>
                        <mat-option value="10752" color="primary">Bélica</mat-option>
                        <mat-option value="878" color="primary">Ciencia ficción</mat-option>
                        <mat-option value="10765" color="primary">Ciencia ficción y fantasía</mat-option>
                        <mat-option value="35" color="primary">Comedia</mat-option>
                        <mat-option value="80" color="primary">Crimen</mat-option>
                        <mat-option value="99" color="primary">Documental</mat-option>
                        <mat-option value="18" color="primary">Drama</mat-option>
                        <mat-option value="10767" color="primary">Entrevistas</mat-option>
                        <mat-option value="10751" color="primary">Familia</mat-option>
                        <mat-option value="14" color="primary">Fantasía</mat-option>
                        <mat-option value="10768" color="primary">Guerra y política</mat-option>
                        <mat-option value="36" color="primary">Historia</mat-option>
                        <mat-option value="10762" color="primary">Infantil</mat-option>
                        <mat-option value="9648" color="primary">Misterio</mat-option>
                        <mat-option value="10402" color="primary">Música</mat-option>
                        <mat-option value="10763" color="primary">Noticias</mat-option>
                        <mat-option value="37" color="primary">Oeste</mat-option>
                        <mat-option value="10770" color="primary">Película de TV</mat-option>
                        <mat-option value="10764" color="primary">Reality</mat-option>
                        <mat-option value="10749" color="primary">Romance</mat-option>
                        <mat-option value="53" color="primary">Suspense</mat-option>
                        <mat-option value="10766" color="primary">Telenovelas</mat-option>
                        <mat-option value="27" color="primary">Terror</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex.gt-xs="33">
                    <mat-select placeholder="Sin género" formControlName="genresWSelected" multiple>
                        <mat-option value="10759" color="primary">Acción y aventura</mat-option>
                        <mat-option value="16" color="primary">Animación</mat-option>
                        <mat-option value="12" color="primary">Aventura</mat-option>
                        <mat-option value="10752" color="primary">Bélica</mat-option>
                        <mat-option value="878" color="primary">Ciencia ficción</mat-option>
                        <mat-option value="10765" color="primary">Ciencia ficción y fantasía</mat-option>
                        <mat-option value="35" color="primary">Comedia</mat-option>
                        <mat-option value="80" color="primary">Crimen</mat-option>
                        <mat-option value="99" color="primary">Documental</mat-option>
                        <mat-option value="18" color="primary">Drama</mat-option>
                        <mat-option value="10767" color="primary">Entrevistas</mat-option>
                        <mat-option value="10751" color="primary">Familia</mat-option>
                        <mat-option value="14" color="primary">Fantasía</mat-option>
                        <mat-option value="10768" color="primary">Guerra y política</mat-option>
                        <mat-option value="36" color="primary">Historia</mat-option>
                        <mat-option value="10762" color="primary">Infantil</mat-option>
                        <mat-option value="9648" color="primary">Misterio</mat-option>
                        <mat-option value="10402" color="primary">Música</mat-option>
                        <mat-option value="10763" color="primary">Noticias</mat-option>
                        <mat-option value="37" color="primary">Oeste</mat-option>
                        <mat-option value="10770" color="primary">Película de TV</mat-option>
                        <mat-option value="10764" color="primary">Reality</mat-option>
                        <mat-option value="10749" color="primary">Romance</mat-option>
                        <mat-option value="53" color="primary">Suspense</mat-option>
                        <mat-option value="10766" color="primary">Telenovelas</mat-option>
                        <mat-option value="27" color="primary">Terror</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex.gt-xs="33">
                    <mat-select placeholder="Ordenar por" formControlName="orderBy">
                        <mat-option value="">No ordenar</mat-option>
                        <mat-option value="popularity.asc">Popularidad ascendente</mat-option>
                        <mat-option value="popularity.desc">Popularidad descendente</mat-option>
                        <mat-option value="first_air_date.asc">Fecha de emisión ascendente</mat-option>
                        <mat-option value="first_air_date.desc">Fecha de emisión descendente</mat-option>
                        <mat-option value="vote_average.asc">Puntuación ascendente</mat-option>
                        <mat-option value="vote_average.desc">Puntuación descendente</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <button mat-raised-button type="button" color="primary" (click)="searchTMDB()">
            <i class="fas fa-search"></i>
            <span class="ml-2">Buscar en The Movie DB</span>
        </button>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" *ngIf="tv">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="start end" fxLayoutGap="8px">
                <img [src]="poster_path" class="w-100" *ngIf="poster_path">
                <i class="fas fa-film fa-4x" *ngIf="!poster_path"></i>

                <a [href]="homepage" target="_blank" *ngIf="homepage">
                    <button mat-raised-button type="button" color="primary">Web oficial</button>
                </a>

                <a [href]="url" target="_blank" *ngIf="url">
                    <button mat-raised-button type="button" color="primary">Entrada en The Movie DB</button>
                </a>
            </div>

            <div fxLayout="column" fxLayoutGap="8px">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px"
                    *ngIf="number_of_seasons || number_of_episodes">
                    <div *ngIf="number_of_seasons">
                        <b>Nº de temporadas: </b>
                        <span>{{number_of_seasons}}</span>
                    </div>

                    <div *ngIf="number_of_episodes">
                        <b>Nº de episodios: </b>
                        <span>{{number_of_episodes}}</span>
                    </div>
                </div>

                <div *ngIf="created_by.length > 0">
                    <b>Autores</b>
                    <mat-chip-list>
                        <mat-chip *ngFor="let creator of created_by">
                            {{creator}}
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <div *ngIf="genres.length > 0">
                    <b>Géneros</b>
                    <mat-chip-list>
                        <mat-chip *ngFor="let genre of genres">
                            {{genre}}
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <div *ngIf="cast.length > 0">
                    <b>Actores</b>
                    <mat-chip-list>
                        <mat-chip *ngFor="let item of cast">
                            {{item.character}}: {{item.name}}
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <div *ngIf="crew.length > 0">
                    <b>Personal</b>
                    <mat-chip-list>
                        <mat-chip *ngFor="let item of crew">
                            {{item.job}}: {{item.name}}
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <div *ngIf="production_companies.length > 0">
                    <b>Productoras</b>
                    <mat-chip-list>
                        <mat-chip *ngFor="let company of production_companies">
                            {{company}}
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <div *ngIf="overview">
                    <b>Resumen: </b>
                    <span>{{overview}}</span>
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button mat-raised-button type="submit" [disabled]="!tv" color="primary">Guardar</button>
    </mat-dialog-actions>
</form>