<h2 mat-dialog-title>Buscar libro</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <div fxLayout="column" fxLayoutGap="8px">

            <mat-form-field fxFill>
                <input matInput placeholder="Título" type="text" formControlName="title">
            </mat-form-field>

            <mat-form-field fxFill>
                <input matInput placeholder="Autor" type="text" formControlName="author">
            </mat-form-field>

            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px">
                <mat-form-field>
                    <input matInput placeholder="Año de publicación" type="number" formControlName="year">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Editorial" type="text" formControlName="publisher">
                </mat-form-field>
            </div>

            <mat-form-field fxFill>
                <mat-chip-list #genreList aria-label="Géneros">
                    <mat-chip *ngFor="let genre of writtenSubjects" [selectable]="selectable" [removable]="removable"
                        (removed)="removeItem(genre)">
                        {{genre}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Géneros" [matChipInputFor]="genreList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addItem($event)">
                </mat-chip-list>
                <mat-hint align="start">Si añade más de un género, pulse intro entre ellos. Escríbalos en
                    inglés.</mat-hint>
            </mat-form-field>

            <div fxLayout="row wrap" fxLayoutGap="8px">
                <mat-checkbox  fxFlex="none" color="primary" [checked]="item.selected"
                    (change)="manageCheckBoxes($event,i)" *ngFor="let item of subjectsData; let i = index">
                    {{item.name}}
                </mat-checkbox>
            </div>

            <button mat-raised-button type="button" (click)="searchOpenLibrary()" color="primary">
                <i class="fas fa-search"></i>
                <span class="ml-2">Buscar en OpenLibrary</span>
            </button>

            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" *ngIf="book">
                <div fxLayout="column" fxLayoutGap="8px">
                    <img [src]="book.cover" class="w-100" *ngIf="book.cover">
                    <i class="fas fa-book fa-4x" *ngIf="!book.cover"></i>

                    <button mat-raised-button type="button" target="url" color="primary" *ngIf="book.url">
                        <span>Entrada en OpenLibrary</span>
                    </button>
                </div>

                <div fxLayout="column" fxLayoutGap="8px">
                    <div *ngIf="book.title">
                        <b>Título: </b>
                        <span>{{book.title}}</span>
                    </div>

                    <div *ngIf="book.subtitle">
                        <b>Subtítulo: </b>
                        <span>{{book.subtitle}}</span>

                    </div>

                    <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="8px"
                        *ngIf="book.isbn || book.cdu || book.number_of_pages">
                        <div fxFlex="none" *ngIf="book.cdu">
                            <b>ISBN: </b>
                            <span>{{book.isbn}}</span>
                        </div>

                        <div fxFlex="none" *ngIf="book.cdu">
                            <b>CDU: </b>
                            <span>{{book.cdu}}</span>
                        </div>

                        <div fxFlex="none" *ngIf="book.number_of_pages">
                            <b>Nº de páginas: </b>
                            <span>{{book.number_of_pages}}</span>
                        </div>
                    </div>

                    <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="8px"
                        *ngIf="book.publish_date || book.physical_format">
                        <div fxFlex="none" *ngIf="book.publish_date">
                            <b>Fecha de publicación: </b>
                            <span>{{book.publish_date}}</span>
                        </div>

                        <div fxFlex="none" *ngIf="book.physical_format">
                            <b>Formato físico: </b>
                            <span>{{book.physical_format}}</span>
                        </div>
                    </div>

                    <div *ngIf="book.publishers">
                        <b>Editoriales</b>
                        <mat-chip-list fxLayout="row wrap">
                            <mat-chip fxFlex="none" *ngFor="let publisher of book.publishers">
                                {{publisher}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>

                    <div *ngIf="book.subjects">
                        <b>Temas</b>
                        <mat-chip-list fxLayout="row wrap">
                            <mat-chip fxFlex="none" *ngFor="let subject of book.subjects">
                                {{subject}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>

                    <div *ngIf="book.authors">
                        <b>Autores</b>
                        <mat-chip-list fxLayout="row wrap">
                            <mat-chip fxFlex="none" *ngFor="let author of book.authors">
                                {{author}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>

                    <div *ngIf="book.publish_places">
                        <b>Lugares de publicación</b>
                        <mat-chip-list fxLayout="row wrap">
                            <mat-chip fxFlex="none" *ngFor="let place of book.publish_places">
                                {{place}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>

                    <div *ngIf="book.description">
                        <b>Resumen: </b>
                        <span>{{book.description}}</span>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button mat-raised-button type="submit" [disabled]="!book" color="primary">Guardar</button>
    </mat-dialog-actions>
</form>