<div class="container-fuid m-3">
    <div class="row row-cols-3">
        <div class="col">
            <div class="row justify-content-around">
                <div class="col-auto align-self-center">
                    <i class="fas fa-book mr-2"></i>
                    Libros
                </div>
                <div class="col-auto">
                    <button mat-icon-button matTooltip="Crear" (click)="newBookLending()" color="primary"
                        *ngIf="isAdmin">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let item of bookList">
                            <mat-expansion-panel-header *ngIf="item.late" class="bg-danger">
                                <mat-panel-title class="align-items-center text-white">
                                    {{item.itemName}}
                                </mat-panel-title>
                                <mat-panel-description class="align-items-center text-white">
                                    {{functions.translateDate(item.endDate)}}
                                </mat-panel-description>

                                <button mat-icon-button matTooltip="Añadir tiempo" *ngIf="isAdmin"
                                    (click)="editLending(item,'book'); $event.stopPropagation()">
                                    <i class="far fa-clock text-white"></i>
                                </button>
                                <button mat-icon-button matTooltip="Devolver" *ngIf="isAdmin"
                                    (click)="returnLending(item,'book'); $event.stopPropagation()">
                                    <i class="fas fa-exchange-alt text-white"></i>
                                </button>
                            </mat-expansion-panel-header>

                            <mat-expansion-panel-header *ngIf="!item.late">
                                <mat-panel-title class="align-items-center">
                                    {{item.itemName}}
                                </mat-panel-title>
                                <mat-panel-description class="align-items-center">
                                    {{functions.translateDate(item.endDate)}}
                                </mat-panel-description>

                                <button mat-icon-button matTooltip="Añadir tiempo" *ngIf="isAdmin" color="primary"
                                    (click)="editLending(item,'book'); $event.stopPropagation()">
                                    <i class="far fa-clock"></i>
                                </button>
                                <button mat-icon-button matTooltip="Devolver" *ngIf="isAdmin" color="primary"
                                    (click)="returnLending(item,'book'); $event.stopPropagation()">
                                    <i class="fas fa-exchange-alt"></i>
                                </button>
                            </mat-expansion-panel-header>

                            <div class="row">
                                <div class="col">
                                    <b>Título: </b>
                                    <span>{{item.itemName}}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <b>Usuario: </b>
                                    <span>{{item.userName}}</span>
                                </div>
                            </div>

                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <b>Préstamo: </b>
                                    <span>{{functions.translateDate(item.startDate)}}</span>
                                </div>
                                <div class="col-auto">
                                    <b>Devolución: </b>
                                    <span>{{functions.translateDate(item.endDate)}}</span>
                                </div>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row justify-content-around">
                <div class="col-auto align-self-center">
                    <i class="fas fa-film mr-2"></i>
                    Películas
                </div>
                <div class="col-auto" *ngIf="isAdmin">
                    <button mat-icon-button matTooltip="Crear" (click)="newMovieLending()" color="primary">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let item of movieList">
                            <mat-expansion-panel-header *ngIf="item.late" class="bg-danger">
                                <mat-panel-title class="align-items-center text-white">
                                    {{item.itemName}}
                                </mat-panel-title>
                                <mat-panel-description class="align-items-center text-white">
                                    {{functions.translateDate(item.endDate)}}
                                </mat-panel-description>

                                <button mat-icon-button matTooltip="Añadir tiempo" *ngIf="isAdmin"
                                    (click)="editLending(item,'movie'); $event.stopPropagation()">
                                    <i class="far fa-clock text-white"></i>
                                </button>
                                <button mat-icon-button matTooltip="Devolver" *ngIf="isAdmin"
                                    (click)="returnLending(item,'movie'); $event.stopPropagation()">
                                    <i class="fas fa-exchange-alt text-white"></i>
                                </button>
                            </mat-expansion-panel-header>

                            <mat-expansion-panel-header *ngIf="!item.late">
                                <mat-panel-title class="align-items-center">
                                    {{item.itemName}}
                                </mat-panel-title>
                                <mat-panel-description class="align-items-center">
                                    {{functions.translateDate(item.endDate)}}
                                </mat-panel-description>

                                <button mat-icon-button matTooltip="Añadir tiempo" *ngIf="isAdmin" color="primary"
                                    (click)="editLending(item,'movie'); $event.stopPropagation()">
                                    <i class="far fa-clock"></i>
                                </button>
                                <button mat-icon-button matTooltip="Devolver" *ngIf="isAdmin" color="primary"
                                    (click)="returnLending(item,'movie'); $event.stopPropagation()">
                                    <i class="fas fa-exchange-alt"></i>
                                </button>
                            </mat-expansion-panel-header>

                            <div class="row">
                                <div class="col">
                                    <b>Título: </b>
                                    <span>{{item.itemName}}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <b>Usuario: </b>
                                    <span>{{item.userName}}</span>
                                </div>
                            </div>

                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <b>Préstamo: </b>
                                    <span>{{functions.translateDate(item.startDate)}}</span>
                                </div>
                                <div class="col-auto">
                                    <b>Devolución: </b>
                                    <span>{{functions.translateDate(item.endDate)}}</span>
                                </div>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row justify-content-around">
                <div class="col-auto align-self-center">
                    <i class="fas fa-tv mr-2"></i>
                    Series
                </div>
                <div class="col-auto" *ngIf="isAdmin">
                    <button mat-icon-button matTooltip="Crear" (click)="newTVLending()" color="primary">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let item of tvList">
                            <mat-expansion-panel-header *ngIf="item.late" class="bg-danger">
                                <mat-panel-title class="align-items-center text-white">
                                    {{item.itemName}}
                                </mat-panel-title>
                                <mat-panel-description class="align-items-center text-white">
                                    {{functions.translateDate(item.endDate)}}
                                </mat-panel-description>

                                <button mat-icon-button matTooltip="Añadir tiempo" *ngIf="isAdmin"
                                    (click)="editLending(item,'tv'); $event.stopPropagation()">
                                    <i class="far fa-clock text-white"></i>
                                </button>
                                <button mat-icon-button matTooltip="Devolver" *ngIf="isAdmin"
                                    (click)="returnLending(item,'tv'); $event.stopPropagation()">
                                    <i class="fas fa-exchange-alt text-white"></i>
                                </button>
                            </mat-expansion-panel-header>

                            <mat-expansion-panel-header *ngIf="!item.late">
                                <mat-panel-title class="align-items-center">
                                    {{item.itemName}}
                                </mat-panel-title>
                                <mat-panel-description class="align-items-center">
                                    {{functions.translateDate(item.endDate)}}
                                </mat-panel-description>

                                <button mat-icon-button matTooltip="Añadir tiempo" *ngIf="isAdmin" color="primary"
                                    (click)="editLending(item,'tv'); $event.stopPropagation()">
                                    <i class="far fa-clock"></i>
                                </button>
                                <button mat-icon-button matTooltip="Devolver" *ngIf="isAdmin" color="primary"
                                    (click)="returnLending(item,'tv'); $event.stopPropagation()">
                                    <i class="fas fa-exchange-alt"></i>
                                </button>
                            </mat-expansion-panel-header>

                            <div class="row">
                                <div class="col">
                                    <b>Título: </b>
                                    <span>{{item.itemName}}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <b>Usuario: </b>
                                    <span>{{item.userName}}</span>
                                </div>
                            </div>

                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <b>Préstamo: </b>
                                    <span>{{functions.translateDate(item.startDate)}}</span>
                                </div>
                                <div class="col-auto">
                                    <b>Devolución: </b>
                                    <span>{{functions.translateDate(item.endDate)}}</span>
                                </div>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>