<h2 mat-dialog-title>Listado de libros</h2>

<mat-dialog-content>
    <div class="container-fluid" *ngIf="!finished && !founded">
        <div class="row">
            <div class="col">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
    </div>

    <div class="container-fluid" *ngIf="finished && founded">
        <mat-radio-group (change)="setBook($event)">
            <div *ngFor="let item of booksList">
                <div class="row mb-2" *ngIf="item.isbn && item.isbn.length > 0">
                    <div class="col-auto align-self-center">
                        <mat-radio-button [value]='item' color="primary"></mat-radio-button>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col-2 align-self-center">
                                <img class="w-100" [src]="imageStart + item.cover_i + imageEnd" *ngIf="item.cover_i">
                                <i class="fas fa-book fa-4x" *ngIf="!item.cover_i"></i>
                            </div>

                            <div class="col align-self-center">
                                <div class="row">
                                    <div class="col">
                                        <b>Título: </b>
                                        <span>{{item.title}}</span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="item.author_name">
                                    <div class="col">
                                        <b>Autor: </b>
                                        <span>{{item.author_name}}</span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="item.first_publish_year">
                                    <div class="col">
                                        <b>Primera publicación: </b>
                                        <span>{{item.first_publish_year}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-radio-group>
    </div>

    <div class="container-fluid" *ngIf="finished && !founded">
        <div class="row justify-content-center">
            <div class="col-auto">
                <b>No se encontraron resultados</b>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button (click)="onClick()" color="primary">Seleccionar</button>
</mat-dialog-actions>