<h2 mat-dialog-title>Listado de libros</h2>

<mat-dialog-content>
    <mat-progress-bar mode="indeterminate" *ngIf="!finished && !founded"></mat-progress-bar>

    <b fxFlexAlign="center" *ngIf="finished && !founded">No se encontraron resultados</b>

    <mat-radio-group (change)="setBook($event)" *ngIf="finished && founded" fxLayout="column" fxLayoutGap="8px">
        <div *ngFor="let item of booksList" >
            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start center" fxLayoutGap="8px"
                *ngIf="item.isbn && item.isbn.length > 0">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <mat-radio-button [value]='item' color="primary"></mat-radio-button>

                    <img [src]="imageStart + item.cover_i + imageEnd" *ngIf="item.cover_i">
                    <i class="fas fa-book fa-4x" *ngIf="!item.cover_i"></i>
                </div>

                <div fxLayout="column" fxLayoutGap="8px">
                    <div *ngIf="item.title">
                        <b>Título: </b>
                        <span>{{item.title}}</span>
                    </div>

                    <div *ngIf="item.author_name">
                        <b>Autor: </b>
                        <span>{{functions.transformComma(item.author_name)}}</span>
                    </div>

                    <div *ngIf="item.first_publish_year">
                        <b>Primera publicación: </b>
                        <span>{{item.first_publish_year}}</span>
                    </div>
                </div>
            </div>
        </div>
    </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button (click)="onClick()" color="primary">Seleccionar</button>
</mat-dialog-actions>