<h2 mat-dialog-title>Listado de series</h2>

<mat-dialog-content>
    <mat-progress-bar mode="indeterminate" *ngIf="!isFinished"></mat-progress-bar>

    <b fxFlexAlign="center" *ngIf="isFinished && !isFounded">No se encontraron resultados</b>

    <mat-radio-group (change)="setTv($event)" *ngIf="isFinished && isFounded" fxLayout="column" fxLayoutGap="8px">
        <div *ngFor="let item of tvList" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start center" fxLayoutGap.lt-md="8px">
            <div fxFlex.xs="100" fxFlex.gt-xs="30" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <mat-radio-button [value]='item' color="primary"></mat-radio-button>

                <img class="w-75" [src]="image + item.poster_path" *ngIf="item.poster_path">
                <i class="fas fa-film fa-4x" *ngIf="!item.poster_path"></i>
            </div>

            <div fxFlex fxLayout="column" fxLayoutGap="8px">
                <div *ngIf="item.name">
                    <b>Título: </b>
                    <span>{{item.name}}</span>
                </div>

                <div *ngIf="item.first_air_date">
                    <b>Fecha de estreno: </b>
                    <span>{{functions.reverseDate(item.first_air_date)}}</span>
                </div>

                <div *ngIf="item.overview" fxHide.gt-sm>
                    <b>Resumen: </b>
                    <span>{{functions.shortOverview(item.overview)}}</span>
                </div>
                <div *ngIf="item.overview" fxHide fxShow.gt-sm>
                    <b>Resumen: </b>
                    <span>{{item.overview}}</span>
                </div>
            </div>
        </div>
    </mat-radio-group>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button (click)="onClick()" color="primary">Seleccionar</button>
</mat-dialog-actions>