<h1 mat-dialog-title>Conectarse</h1>

<form [formGroup]="form" (ngSubmit)="loginMail()">
    <mat-dialog-content>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutWrap fxLayoutGap="8px">

            <div fxFlex>
                <mat-form-field>
                    <input matInput placeholder="Email" type="email" formControlName="email" required>
                    <mat-error
                        *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
                        Por favor escriba un email válido</mat-error>
                    <mat-error *ngIf="form.controls.email.hasError('required')">Por favor indique un email
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field>
                    <input matInput placeholder="Contraseña" type="password" formControlName="password" required>
                    <mat-error
                        *ngIf="form.controls.password.hasError('minLength(6)') && !form.controls.password.hasError('required')">
                        La contraseña como mínimo tiene 6 caracteres</mat-error>
                    <mat-error *ngIf="form.controls.password.hasError('required')">Por favor indique una contraseña
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex fxFlexAlign="center">
                <button mat-raised-button type="submit" [disabled]="!form.valid"
                    color="primary">Conectarse</button>
            </div>
            <div fxFlex fxFlexAlign="center">
                <button mat-raised-button type="button" (click)="resetPassword()"
                    [disabled]="!form.controls.email.valid" color="primary">Reestablecer
                    contraseña</button>
            </div>
        </div>
    </mat-dialog-content>
</form>

<mat-dialog-actions align="center">
    <button mat-raised-button type="button" matTooltip="Conecta mediante Google" (click)="loginGoogle()"
        color="primary">
        <i class="fab fa-google"></i>
    </button>
</mat-dialog-actions>