<mat-toolbar color="primary">
    <img src="../favicon.ico" class="mr-2">
    <span>Libratic</span>
    <div class="spacer"></div>

    <button mat-icon-button matTooltip="Libros" routerLink="books">
        <i class="fas fa-book"></i>
    </button>

    <button mat-icon-button matTooltip="Películas" routerLink="movies">
        <i class="fas fa-film"></i>
    </button>
    
    <button mat-icon-button matTooltip="Series" routerLink="tv">
        <i class="fas fa-tv"></i>
    </button>

    <ng-container *ngIf="isLoged">
        <button mat-icon-button matTooltip="Préstamos" routerLink="lendings">
            <i class="far fa-calendar"></i>
        </button>

        <button mat-icon-button matTooltip="Deseados" routerLink="wished">
            <i class="fas fa-list-alt"></i>
        </button>

        <ng-container *ngIf="!isAdmin">
            <button mat-icon-button matTooltip="Favoritos" routerLink="favourites">
                <i class="fas fa-heart"></i>
            </button>

            <button mat-icon-button matTooltip="Usuario" routerLink="users">
                <i class="fas fa-user"></i>
            </button>
        </ng-container>

        <ng-container *ngIf="isAdmin">
            <button mat-icon-button matTooltip="Usuarios" routerLink="users">
                <i class="fas fa-users"></i>
            </button>

            <button mat-button matTooltip="Editar biblioteca" (click)="editLibrary()">
                <i class="fas fa-pencil-alt"></i>
                <i class="fas fa-landmark"></i>
            </button>
        </ng-container>

        <button mat-icon-button (click)="logOut()" matTooltip="Desconectarse" routerLink="/">
            <i class="fas fa-sign-out-alt"></i>
        </button>
    </ng-container>

    <ng-container *ngIf="!isLoged">
        <button mat-button matTooltip="Nueva biblioteca" (click)="newLibrary()">
            <i class="fas fa-plus"></i>
            <i class="fas fa-landmark"></i>
        </button>

        <button mat-icon-button (click)="logIn()" matTooltip="Conectarse">
            <i class="fas fa-sign-in-alt"></i>
        </button>
    </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>