<h2 mat-dialog-title *ngIf="editting">Editar película</h2>
<h2 mat-dialog-title *ngIf="!editting">Nueva película</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <div fxLayout="column" fxLayoutGap="8px">
            <mat-form-field>
                <input matInput placeholder="Título" type="text" formControlName="title" required>
                <mat-error *ngIf="form.controls.title.hasError('required')">Por favor indique un título
                </mat-error>
            </mat-form-field>

            <button mat-raised-button fxFlexAlign.gt-xs="end" type="button" color="primary" (click)="searchTMDB()">Buscar en
                The Movie DB</button>

            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center" fxLayoutGap="8px">
                <img [src]="poster_path" class="half" *ngIf="poster_path">
                <i class="fas fa-film fa-4x" *ngIf="!poster_path"></i>

                <input mat-raised-button type="file" accept=".png,.jpg" (change)="setPosterPath($event)">
            </div>

            <mat-form-field>
                <input matInput placeholder="Fecha de estreno" type="text" formControlName="release_date" required>
                <mat-error *ngIf="form.controls.release_date.hasError('required')">Por favor indique una fecha
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Duración" type="number" formControlName="runtime">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Puntuación" type="number" formControlName="vote_average">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Nº de ejemplares" type="number" formControlName="nEjemplares" required>
                <mat-error *ngIf="form.controls.nEjemplares.hasError('required')">Por favor indique un número
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Web oficial" type="url" formControlName="homepage">
            </mat-form-field>

            <mat-form-field>
                <mat-chip-list #genreList aria-label="Géneros">
                    <mat-chip *ngFor="let genre of genres" [selectable]="selectable" [removable]="removable"
                        (removed)="removeItem(genre,'genres')">
                        {{genre}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Géneros" [matChipInputFor]="genreList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addItem($event,'genres')">
                </mat-chip-list>
                <mat-hint align="start">Si añade más de un género, pulse intro entre ellos</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-chip-list #castList aria-label="Actores">
                    <mat-chip *ngFor="let item of cast" [selectable]="selectable" [removable]="removable"
                        (removed)="removeItem(item,'cast')">
                        {{item.character}}: {{item.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Actores" [matChipInputFor]="castList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addItem($event,'cast')">
                </mat-chip-list>
                <mat-hint align="start">Personaje: Actor Si añade más de un actor, pulse intro entre ellos
                </mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-chip-list #crewList aria-label="Personal">
                    <mat-chip *ngFor="let item of crew" [selectable]="selectable" [removable]="removable"
                        (removed)="removeItem(item,'crew')">
                        {{item.job}}: {{item.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Personal" [matChipInputFor]="crewList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addItem($event,'crew')">
                </mat-chip-list>
                <mat-hint align="start">Puesto: Nombre Si añade más de una persona, pulse intro entre ellas
                </mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-chip-list #companyList aria-label="Productoras">
                    <mat-chip *ngFor="let company of production_companies" [selectable]="selectable"
                        [removable]="removable" (removed)="removeItem(company,'production_companies')">
                        {{company}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Productoras" [matChipInputFor]="companyList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addItem($event,'production_companies')">
                </mat-chip-list>
                <mat-hint align="start">Si añade más de una compañía, pulse intro entre ellas</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Lema" type="text" formControlName="tagline">
            </mat-form-field>

            <mat-label>Resumen</mat-label>
            <textarea matInput rows="4" formControlName="overview"></textarea>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Guardar</button>
    </mat-dialog-actions>
</form>