<h2 mat-dialog-title>Filtrar</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <div fxLayout="column" fxLayoutGap="8px">
            <mat-form-field *ngIf="filterType !== 'user'">
                <input matInput placeholder="Título" type="text" formControlName="title">
            </mat-form-field>

            <mat-form-field *ngIf="filterType === 'book'">
                <input matInput placeholder="Autor" type="text" formControlName="author">
            </mat-form-field>

            <mat-form-field *ngIf="filterType === 'tv'">
                <input matInput placeholder="Guionista" type="text" formControlName="author">
            </mat-form-field>

            <mat-form-field *ngIf="filterType === 'book'">
                <input matInput placeholder="Año de publicación" type="number" formControlName="date">
            </mat-form-field>

            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px"
                *ngIf="filterType === 'movie' || filterType === 'tv'">
                <mat-form-field>
                    <input matInput placeholder="Año de emisión" type="number" formControlName="date">
                </mat-form-field>

                <mat-form-field *ngIf="filterType === 'movie'">
                    <input matInput placeholder="Duración mínima" type="number" formControlName="runtime">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Puntuación mínima" type="number" formControlName="vote">
                </mat-form-field>
            </div>

            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between"
                fxLayoutGap="8px" *ngIf="filterType !== 'user' && filterType !== 'lending' ">
                <mat-form-field>
                    <input matInput placeholder="Género" type="text" formControlName="subject">
                </mat-form-field>

                <mat-form-field *ngIf="filterType === 'book'">
                    <input matInput placeholder="Editorial" type="text" formControlName="companie">
                </mat-form-field>

                <mat-form-field *ngIf="filterType === 'tv' || filterType === 'movie'">
                    <input matInput placeholder="Productora" type="text" formControlName="companie">
                </mat-form-field>
            </div>

            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between"
                fxLayoutGap="8px" *ngIf="filterType === 'movie' || filterType === 'tv'">
                <mat-form-field>
                    <input matInput placeholder="Actor" type="text" formControlName="actor">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Director" type="text" formControlName="director">
                </mat-form-field>
            </div>

            <mat-form-field *ngIf="filterType === 'user' || filterType === 'lending'">
                <input matInput placeholder="Nombre de usuario" type="text" formControlName="username">
            </mat-form-field>

            <mat-slide-toggle *ngIf="filterType === 'user'" color="warning" formControlName="punishment">Multa por
                retraso</mat-slide-toggle>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button mat-raised-button type="button" color="primary" (click)="clean()">Limpiar</button>
        <button mat-raised-button type="submit" color="primary">Aceptar</button>
    </mat-dialog-actions>
</form>